html{
    background-color: #AF7AC5;
    color: #B3B6B7;
}   

#corpo{
    width: 450px;
    height: fit-content;
    color:#4A235A;
}

input[type=text ]{
    width: 200px;
    font-size: 15px;
    padding:4px;
    font-family: "Palatino Linotype ";
}

input[type=number]{
    width: 165px;
    font-size: 15px;
    padding: 4px;
    font-family: "Palatino Linotype ";
}
output[type = text]{
    color: #8B0000	;
    font-size: 17px;
    padding: 4px;
    border: none;
}

button{
    font-size: 12px;
    border: none;
    cursor:pointer;
}
.Enc{
    background-color: green;
}
.Dec{
    background-color: orangered;    
}
h1{
    text-align: center;
}